@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Permanent+Marker&family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    scroll-behavior: smooth;
}

.animateBg {
    animation: animateBg linear .4s forwards;
    -webkit-animation: animateBg linear .4s forwards;
    height: 0;
}

@keyframes animateBg {
    100% {
        height: 100%;
    }
}

.logoRotate {
    animation: logoRotate linear 60s infinite;
    -webkit-animation: logoRotate linear 60s infinite;
}

@keyframes logoRotate {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

/* view response style in the survey creator */
.react-tabs__tab-list {
    display: flex;
    gap: 15px;
}

.react-tabs__tab-list .react-tabs__tab {
    padding: 5px 10px;
    /* background-color: rgb(147 197 253); */
    font-weight: 800;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border: 1px solid rgb(38 38 38);
}




.react-tabs__tab-list .react-tabs__tab--selected {
    background-color: rgb(38 38 38);
    color: white;
}

*{
    font-family: poppins;
}

.column {
    background-color: #f2f2f3;
    border-radius: 5px;
    padding: 15px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 10px;
}

.button {
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: #2563eb;
    color: white;
}

.App {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 10px;
}

.task {
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    touch-action: none;
}

.task:hover {
    background-color: rgb(38 38 38);
    color: white;
}